.buttons{
 margin: 0 auto;
 padding: 0;
width: 100%;
height: 25%;
left: 0px;
top: 0px;
background: #FFFFFF;
box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.25);
border-radius: 0px;
}
button{
 margin: 0 auto;
display: inline-block;
position: relative;
width: 111px;
height: 40px;
background: #FFFFFF;
box-shadow: 0px 4px 17px rgba(0, 0, 0, 0.287);
border-radius: 5px;
border: none;
cursor: pointer;
}